h1{
    color: blue;
    font-family: 'Fakedes', sans-serif;
}

span{
    display: block;
    padding: 10px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: 5px solid cyan;
}
